@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-class {
  height: 500px;
  background-image: url(../../public/header-image.png);
  backdrop-filter: brightness(0.7);
}

.button {
  @apply text-white bg-red-600 p-3 rounded-sm m-6 hover:bg-red-700 transition ease-out duration-300;
}
